{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1>New Task</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.tags) }}

    <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
